@media only screen and (max-width: 800px) {
  .text-container {
    padding-top: 100px;
    padding-right: 40px;
  }
}

body {
  font-family: Mulish;
  padding-top: 60px;
  color: #FFF;
  overflow: hidden;


}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: sticky;
  height: 6rem;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.3s;
  box-sizing: border-box;
  padding: 14px 16px;
  /* Adjust padding as needed */
  text-align: center;
  /* Center the links */
}

.topnav a {
  display: inline-block;
  color: #f2f2f2;
  text-decoration: none;
  padding: 14px 16px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.text-container {
  margin-right: 50px;
  margin-top: 100px;
}

.s1 {
  padding-left: 1cm;
}

.s2 {
  padding-left: 1cm;
}

#s2title {
  padding-bottom: 10cm;
}

.s3 {
  padding-left: 1cm;
}

#s3title {
  padding-bottom: 8cm;
}

#s1title {
  padding-bottom: 8cm;
}

#s1pg {
  font-size: larger;
  margin-top: -5cm;
}

#s2pg {
  font-size: larger;
  margin-top: -6cm;
}

#s3pg {
  font-size: larger;
  margin-top: -5cm;
}

.fullpage-wrapper {
  height: calc(100vh - 10rem)
}

